{% extends './base.html' %}
{% block content %}

<h1> Add record to collection </h1>
<br>

<h2>{{ error_message }}</h2>
<br>

<form method="POST" action = "{% url 'home:add_to_collection_save' record_id %}">
    {% csrf_token %}
    {% for collection in user_collections %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="collection", id="collection{{ forloop.counter }}" value="{{ collection.id }}" />
        <label class="form-check-label" for="collection{{ forloop.counter }}">
            {{collection.name}}
        </label>
    </div>
        <br>
    {% empty %}
    <p>You don't have any collections</p>
    <a href="{% url 'home:new_collection_form' user.username %}" class="btn btn-primary">Create a collection</a>
    {% endfor %}
    {% if user_collections%}<p><input class="btn btn-primary" type="submit" value="Add" /></p>{% endif %}
</form>


{% endblock %}