{% extends './base.html' %}
{% block content %}

<h1> Add record to collection </h1>
<br>

<h2>{{ error_message }}</h2>
<br>

<form method="POST" action = "{% url 'home:add_to_collection_save' record_id %}">
    {% csrf_token %}
    {% for collection in user_collections %}
        <input type="radio" name="collection", id="collection{{ forloop.counter }}" value="{{ collection.id }}" />
        <label for="collection{{ forloop.counter }}">
            {{collection.name}}
        </label>
        <br>
    {% endfor %}
    <p><input type="submit" value="Add" /></p>
</form>


{% endblock %}