
{% extends './base.html' %}
{% block content %}
<!--
<script>
    const button = document.querySelector('.btn')
    button.addEventListener('click', () => {
        button.classList.toggle('liked')
    })
</script>
<h1>Artist</h1>
<div>
    <figure>
        <img src="" alt="Profile Picture" style="width:100%">
    </figure>
</div>

<button class="btn btn-like">
    <span class="btn-icon btn--icon-default">
        <span class="fa fa-heart"></span>
    </span>
    <span class="btn-icon btn--icon-liked">
        <span class="fa fa-heart"></span>
    </span>
    <span class="btn-content  btn-content--liked">
        Liked
    </span>
    <span class="btn-content btn-content--default">
        Like
    </span>
</button>
-->


<h1> {{ artist.name }} </h1>
<img src="{{ artist.picture_url }}" class="card-img-top" alt="{{ record.title }} cover image">
<hr>
<h3> Biography: </h3>
<h7> {{ artist.bio }} </h7>

<br>

{% if like %}
    <p>Already liked this artist</p>
{% else %}
    <p>Not yet rated</p>
    <a href="{% url 'home:like_artist' artist.id %}">
        Like this artist!
    </a>
{% endif %}
<br>
<hr>
<h3> Records: </h3>

{% for record in artist.record_set.all %}
    <li>
        <p>
            {{ record.title }} | {{ record.year }} 
        </p>
    </li>

{% endfor %}


<div>
{% for record in artist.record_set.all %}
    <div class="card col-6 mb-2">
        <img src="{{ record.cover_url }}" class="card-img-top" alt="{{ record.title }} cover image">
        <h5 class="card-title">{{ record.title }}</h5>
    </div>
    {% endfor %}
</div>

<!--
TODO: place somewhere {{ artist.picture_url }}
TODO: links para records
TODO: imagens de cada record

-->
{% endblock %}