{% extends './base.html' %}
{% block content %}

<h1> Create new collection </h1>
<br>

<h2>{{ error_message }}</h2>
<br>

<form method="POST" action = "{% url 'home:save_new_collection' user.username %}">
    {% csrf_token %}
    <div>
    <label for="collection_name">Collection name:</label>
    <input type="text" id="collection_name" name="collection_name" autofocus>
    </div>
    <br>
        <p>
            <input class="btn btn-primary" type="submit" value="Criar">
        </p>

</form>


{% endblock %}