{% extends './base.html' %}
{% block content %}
<h1Music collection</h1>
<div>
    Search <a href="{% url 'home:search' %}"><span class="badge rounded-pill bg-primary fg-light">here</span></a> for you favorite artist or record...
</div>
<div>
    <h2>MUSIC COLLECTION</h2>
    <p class="lead">
    Descubra a plataforma que você não sabia que precisava! Faça a gestão da suas coleções e deixe reviews e likes nas músicas que desejar.
    Todas estas funcionalidades e muitas mais apenas à distância de um Registo/LogIn!
    </p>
    <img src="" class="" alt="Main Picture" width="600" height="750">
</div>

<div class="col-8">
{% if user.is_authenticated %}
    <a href= "{% url 'home:mycollections' user.username %}">My Collections</a> | 
{% endif %}
<a href="{% url 'home:reviews' %}">My Reviews</a> |
<a href="myartist">My Artists</a>
</div>
{% if user.is_authenticated %}
 Autenticado!
{% endif %}
{% endblock %}
