{% extends './base.html' %}
{% load static %}
{% block content %}
<h1>Music collection</h1>

<div class="row">
    <p class="lead">
    Descubra a plataforma que você não sabia que precisava! Faça a gestão da suas coleções e deixe reviews e likes nas músicas que desejar.
    Todas estas funcionalidades e muitas mais apenas à distância de um Registo/LogIn!
    </p>
</div>

<div class="row mb-4 mt-4">
    <div class="col-12">
        <a href="{% url 'home:search' %}"><span class="btn btn-primary btn-lg px-4 gap-3"> Search here</span></a> for you favorite artist or record...
    </div>
</div>

<!-- Home Lists -->
<div class="row mb-2 mt-2">
    <div class="col-4">
        {% include 'top_artists.html'%}
    </div>
    <div class="col-4">
        {% include 'top_records.html'%}
    </div>
    <div class="col-4">
        {% include 'top_reviews.html'%}
        <div>staff pick</div>
    </div>
</div>

{% endblock %}
