{% extends './base.html' %}
{% block content %}

<h1> My Artists </h1>
<br>

{% if must_login %}
    <p> You must login before trying to create a new collection!</p>
{% endif %}
<br>



{% for collection in collections_list %}

        <p>
              <a href="{% url 'home:single_collection' current_user.username collection.id %}"> {{ collection.name }} 
        </p>


{% endfor %}
<br>

{% if user.is_authenticated %}
    <a href="{% url 'home:new_collection_form' user.username %}"> Create new collection
{% endif %}

{% endblock %}