{% extends './base.html' %}
{% block content %}

<h1> Remove Album From Collection </h1>
<br>

<h2>{{ error_message }}</h2>
<br>

<form method="POST" action = "{% url 'home:remove_from_collection_save' record_id %}">
    {% csrf_token %}
    {% for collection in where_record %}
        <input type="radio" name="collection", id="collection{{ forloop.counter }}" value="{{ collection.id }}" />
        <label for="collection{{ forloop.counter }}">
            {{collection.name}}
        </label>
        <br>
    {% endfor %}
    <p><input type="submit" value="Remove" /></p>
</form>


{% endblock %}