{% extends './base.html' %}
{% block content %}


<h1> Collection "{{ collection.name }}" </h1>
<br>
<p>
    Creator: {{ username }} <br>
    Date of creation: {{ collection.creation_date }}
</p>
<br>


{% for record in records_list %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ record.cover_url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'home:record' record.id %}">  {{ record.title }}</a></h5>
          <span class="badge rounded-pill bg-secondary">{{record.year}}</span>
          <p class="card-text"><a href="{% url 'home:artist' record.artist_id.id %}">  {{ record.artist_id.name }}</a></p> 
          <span style="float: right;">
            <a href="{% url 'home:remove_from_collection' collection.id record.id %}" class="btn btn-sm bg-danger text-light position-absolute bottom-0 end-0 mb-2 me-2">Remove record</a>
        </div>
      </div>
    </div>
  </div>
<p>
    
{% endfor %}



<p>
    <a class="btn btn-primary" href="{% url 'home:search' %}?collection_id={{collection.id}}"> Add record to collection </a>
</p>


{% endblock %}