{% extends './base.html' %}
{% block content %}


<h1> Collection "{{ collection.name }}" </h1>
<br>
<p>
    Creator: {{ username }} <br>
    Date of creation: {{ collection.creation_date }}
</p>
<br>


{% for record in records_list %}
<p>
    <a href="{% url 'home:artist' record.artist_id.id %}">  {{ record.artist_id.name }}</a> |       
    <a href="{% url 'home:record' record.id %}">  {{ record.title }}</a> |        
    Ano: {{ record.year }} |
    
    {% for rating in user_ratings %}
        {% if rating.record_id == record %}
            Rating: {{ rating.rating }} |
            <a href= "{% url 'home:review' rating.id %}"> Check review </a> |
        {% endif %}
    {% endfor %}
    
    <a href= "{% url 'home:remove_from_collection' collection.id record.id %}"> Remove record from this Collection </a> |
</p>    
{% endfor %}


<p>
    <a href="{% url 'home:search' %}?collection_id={{collection.id}}"> Add record to collection </a>
</p>


{% endblock %}