{% extends './base.html' %}
{% block content %}


<h1> Colecção "{{ collection.name }}" </h1>
<br>
<p>
    Criador: {{ username }} <br>
    Data de criação: {{ collection.creation_date }}
</p>
<br>


{% for record in records_list %}
<p>
    <a href="{% url 'home:artist' record.artist_id.id %}">  {{ record.artist_id.name }}</a> |       
    <a href="{% url 'home:record' record.id %}">  {{ record.title }}</a> |        
    Ano: {{ record.year }} |
    
    {% for rating in user_ratings %}
        {% if rating.record_id == record %}
            Rating: {{ rating.rating }} |
            <a href= "{% url 'home:review' rating.id %}"> Check Review</a>
        {% endif %}
    {% endfor %}    
</p>    
{% endfor %}


<p>
    <a href="{% url 'home:add_to_collection' collection.id %}"> Adicionar um álbum à colecção
</p>

<p>
    <a href="{% url 'home:remove_from_collection' collection.id %}"> Remover um álbum da colecção
</p>


{% endblock %}