{% extends './base.html' %}
{% block content %}
<h2>Register</h2>

{% if error_message %}
    <p class="bg-warning"><strong>{{ error_message }}</strong></p>
{% endif %}

<form method="POST" id="register-form" action="{% url 'votacao:registaruser' %}"
    oninput='re_password.setCustomValidity(re_password.value != password.value ? "Passwords não estão iguais." : "")'>
    {% csrf_token %}
    <div class="form-group mb-2">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" id="username" required placeholder="Username" />
    </div>
    <div class="form-group mb-2">
        <label for="email">Password:</label>
        <input type="email" class="form-control" name="email" id="email" required placeholder="Email" />
    </div>
    <div class="form-group mb-2">
        <label for="first_name">First name:</label>
        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name" />
    </div>
    <div class="form-group mb-4">
        <label for="last_name">Last name:</label>
        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name" />
    </div>
    <div class="form-group mb-2">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" id="password" required placeholder="Password" />
    </div>
    <div class="form-group mb-2">
        <label for="re_password">Confirmr password:</label>
        <input type="password" class="form-control" name="re_password" id="re_password" placeholder="Repeat password" />
    </div>
    <div class="mb-2">
        <button type="submit" class="btn btn-primary mb-2">Registar</button>
    </div>

    <p>Se já tiver conta, faça login <a href="{% url 'votacao:loginform' %}">aqui</a></p>
</form>
{% endblock %}